* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: rgba(0,0,0,0);
    border: 0px none #ffffff;
}

tooltip {
    background-color: #000000;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #ffffff;
}


#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#pulseaudio-slider,
#backlight,
#workspaces,
#power-profiles-daemon {
    margin: 2px 2px 2px 0px;
    padding: 0px 4px;
}

#window {
    font-size: 4px;
    color: #ffffff;
}



#workspaces {
    background-color: #303536;
    margin: 6px 6px 6px 6px;
    border: 2px solid #434a4c;
}


#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #c7ab7a;
}

#workspaces button.active {
    color: #ddc7a1;
    background-color: #C76e00;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}

#clock {
    background-color: #303536;
    border: 2px solid #434a4c;
    color: #d4be98;
}

#tray {
    background-color: #d4be98;
    border: 1px solid #c7ab7a;
}
#battery.charging,
#battery {
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#cpu,
#memory,
#network,
#pulseaudio {
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#cpu.critical,
#memory.critical {
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#power-profiles-daemon {
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
}
#backlight {
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#pulseaudio-slider {
    border: 2px solid #e59866;
    background-color: #C76e00;
    padding: 0px 12px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 100;
    background-image: none;
    border: 1px;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 2px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 2px;
    border-radius: 2px;
    background-color: #e59866;
    color: #e59866;
    border: 2px solid #e59866;
}
